.background {
    width: 1000px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered a {
    color: azure;
    font-size: 50px;
}

body{
/*    color: azure*/
}