body{
    
    
    background-image:url(How-To-Train-Your-Dragon-4-Spinoffs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    color: aqua;
    font-family: fantasy;
        
}